/*背景グラデーションの繰り返し防止*/
html{
    min-height: 100%;
}

/*背景のデザイン*/
body{
    background: -moz-linear-gradient(top,#59d8ff, #ccf2fd);
    background: -webkit-linear-gradient(top, #59d8ff, #ccf2fd);
    background: linear-gradient(to bottom, #59d8ff, #ccf2fd); 
}

/*ロゴのデザイン*/
.logo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: auto;
    border-radius: 50%;
    box-shadow: 8px 8px 13px -6px #1d92ff;
}

/*フォーム全体のデザイン*/
form{
    width: 25%;
    padding: 1% 1%;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 8px 8px 13px -6px #1d92ff;
    border-radius: 5%;
}

/*フォーム内タイトルのデザイン*/
form h1{
    color: #60cdff;
    font-weight: bold;
    font-size: 240%;
}

/*フォーム内説明文のデザイン*/
form p{
    color: rgb(134, 132, 132);
    font-weight: 500;
    font-size: 19px;
}

/*入力フォームのデザイン*/
form input[type = "school_id"], form input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 0px auto;
    border: 1px solid #2995fa;
    padding: 2% 2%;
    width: 35%;
    border-radius: 5px;
}

/*入力フォームをクリックしたときの動作*/
form input[type = "school_id"]:focus, form input[type = "password"]:focus{
    width: 35.3%;
    background-color: white;
    box-shadow: 0 0 7px hsl(199, 98%, 62%);
    outline: solid 1.5px #2995fa;
}

/*入力フォーム内のデフォルト文字のデザイン*/
form input[placeholder = "学籍番号"], form input[placeholder = "パスワード"]{
    font-weight: 400;
    font-size: 100%;
}

/*ログインボタンのデザイン*/
form input[type = "submit"]{
    border: 0;
    background: #60cdff;
    display: block;
    margin: 5% auto;
    border: 2px solid #60cdff;
    padding: 2% 2%;
    width: 30%;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 120%;
}

/*ログインボタンにカーソルを乗せたときの動作*/
form input[type = "submit"]:hover{
    background-color: #2995fa;
    border: 2px solid #2995fa;
    box-shadow: 0 0 10px hsl(199, 98%, 62%);
}

/*
・html中のタグ名{#デザインを書く}
・コメントアウトは/*を使う
・form h1→formタグの中のh1タグ
・form, h1→formタグとh1タグの両方
*/